* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

body {
	background-image:url("https://media.istockphoto.com/id/1127743344/vector/tourist-bus.jpg?s=612x612&w=0&k=20&c=WGtPHPukLZwGBbDirk_Th6qkU7xdBgHoNsnUWoqnG3k=");
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 100vh;
	padding-right: 5%;
}

.form-box {
	width: 380px;
	background: rgba(255,255,255,0.2);
	padding: 20px;
	border-radius: 15px;
	position: relative;
	overflow: hidden;
	box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.3);
	color: white;
}

.button-box
{
	width: 220px;
	margin: 35px auto;
	position: relative;
	box-shadow: 0 0 20px 9px rgba(0,0,0,.1);
	border-radius: 30px;
}

.toggle-btn
{
	padding: 10px 30px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color:white;
}

#btn
{
	top: 0;
	left: 0;
	position: absolute;
	width: 110px;
	height: 100%;
	background: linear-gradient(to right, #FA4B37, #DF2771);
	border-radius: 30px;
	transition: 0.5s;
}
.social-icons
{
	margin: 30px auto;
	text-align: center;
}
.social-icons img
{
	width: 30px;
	margin: 0 7px;
	cursor: pointer;
	opacity: 0.85;
}

.input-group
{
	top: 180px;
	position: absolute;
	width: 280px;
	transition: .5s;
	font-size: 13px;
	color: #010101;
}
.inp {
	border-bottom: 1px solid rgba(0,0,0,0.4);
	justify-content: center;
}
.inp img{
	width: 20px;
	padding-right: 10px;
}
.input-field {
	color: #000 !important;
	background: transparent;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

::placeholder {
	color: rgba(50, 50, 50, 0.5) !important;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: rgba(255, 255, 255, 0.7) !important;
	/*opacity: 1;  Firefox */
}
#register {
  
 display: block;
  z-index: 10;
  background: white;
  	left: 450px;
}
#login {
  z-index: 5;
}

.submit-btn
{
	  color: white !important;
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: linear-gradient(to right, #FA4B37, #DF2771);
	color: #fff;
	border: 0;
	outline: none;
	border-radius: 30px;
}

.reg-btn {
	background: lightgray;
}
.check-box
{
	cursor: pointer;
	margin: 30px 10px 30px 0;
}

.instead {
	margin-top: 10px;
}
.instead h3 {
    overflow: hidden;
    text-align: center;
    color: rgba(255, 255, 255, 0.8) !important;
}
.instead h3:before,
.instead h3:after {
    background-color: rgba(0,0,0,0.5);
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
.instead h3:before {
    right: 0.5em;
    margin-left: -50%;
}
.instead h3:after {
    left: 0.5em;
    margin-right: -50%;
}
span
{
	 color: white !important;
	font-size: 12px;
}

#login
{
	left: 50px;
}


.other {
	display: grid;
	justify-content: center;
	margin-top: 250px;
}


.connect {
	display: flex;
	margin: 10px;
	padding: 0px 30px;
	align-items: center;
	text-align: center;
	justify-content: center;
	border: 1px solid lightgray;
	cursor: pointer;
	outline: none;
	/*border-radius: 10px;*/
	background: #fff3;
}
.connect:hover {
	background: #fff8;
}
.connect img {
	padding: 5px;
	width: 25px;
}
.connect span {
	padding: 10px;
	font-size: 15px;
}
