@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background: #f3f5f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.ticket {
  display: flex;
  background: #fff;
  width: 900px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.ticket-left {
  background: #007bff;
  color: #fff;
  padding: 30px 20px;
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ticket-left h2 {
  margin: 0 0 10px;
  font-size: 22px;
  font-weight: 700;
}

.ticket-id {
  font-weight: 600;
  color: #d4eaff;
}

.boarding-info {
  font-size: 14px;
  margin-top: 40px;
}

.ticket-right {
  flex: 1;
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.route {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.arrow {
  font-size: 24px;
  color: #007bff;
}
.details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 30px;
  margin-bottom: 20px;
}

.detail label {
  font-size: 11px;
  color: #999;
  text-transform: uppercase;
  font-weight: 600;
}

.detail div {
  font-size: 16px;
  font-weight: 600;
  margin-top: 4px;
}

.footer {
  background: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #333;
  padding-top: 12px;
  border-top: 1px dashed #ccc;

}
.ticket-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.download-button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 12px;
  box-shadow: 0 6px 16px rgba(0, 123, 255, 0.2);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.download-button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.icon {
  width: 20px;
  height: 20px;
}

